<%- include("../partials/header") %>
<link rel="stylesheet" href="/css/resources/blogDetail.css"> 
<%- include("../partials/nav") %> 

<div class="blog">
    <div class="blog__textBox">
        <div class="blog__textBox__text">
            <h1 class="title"><%=post.title%></h1>
            <div class="postInfo">
                <span title="User Name"><%=post.userName%></span>
                <span title="Category"><%=post.category%></span>
                <span title="Date"><%=post.time[0]%></span>
                <span title="Time"><%=post.time[1]%></span>
            </div>
        </div>
    </div>
    <img class="blogImg" src="/images/blog/<%=post.imageUrl%>" alt="Blog Image">
    <div class="script">
        <%-post.script%>
    </div>
    <div class="share">
        <p>Share with <a href="https://www.facebook.com/sharer/sharer.php?u=https://fit07.herokuapp.com/blog/<%=post._id%>&quote=<%=post.title%>"><i class="fab fa-facebook-f"></i></a></p>
    </div>
</div>

<!-- For nav bar -->
<script src="/js/nav_fix.js"></script>
<%- include("../partials/footer") %> 