<%- include("../partials/header") %> 
<link rel="stylesheet" href="/css/resources/projectDetail.css">
<%- include("../partials/nav") %> 

<div class="projectDetail">
    <!-- Text Box -->
    <div class="projectDetail__textBox">
        <div class="icon">
            <img src="/images/projects/<%=project.iconUrl%>" alt="">
        </div>
        <div class="text">
            <h2 style="text-align: left;"><%=project.projectTitle%> </h2>
            <h3>Developer : <%=project.creator%> </h3>
        </div>
    </div>

    <!-- Project Image -->
    <div class="projectDetail__projectImage">
        <img src="/images/project/<%=project.imageUrl%>" alt="">
    </div>

    <!-- Project Description -->
    <div class="projectDetail__projectDescription">
        <div class="three_of_twelve">
            <h3>Description</h3>
        </div>
        <div class="nine_of_twelve descriptionText">
            <div class="stick"></div>
            <p><%=project.description%></p>
        </div>
    </div>

    <!-- Botton -->
    <div class="projectDetail__button">
        <div class="three_of_twelve">
            <div></div>
        </div>
        <div class="nine_of_twelve">
            <a href="<%= project.downloadLink ? project.downloadLink : '#' %> " target="_blank" class="btn <%= project.downloadLink ? 'btn_orange' : 'btn_disabled' %> " aria-disabled="true">
                <%= project.projectType === "web"? "Demo Link" : "Download" %> 
            </a> <br />
            <a href="<%=project.sourceCodeLink%>" target="_blank" class="btn btn_green">Source Code</a>
        </div>
    </div>
</div>

<!-- For nav bar -->
<script src="/js/nav_fix.js"></script>
<%- include("../partials/footer") %> 