</head>
<body>
<!-- Header -->
<div class="test">
<header>
    <div class="logo">
        <a href="/">
            <img src="/photos/brand_white.png" alt="logo" class="brand-wp">
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav-list">
                <a href="/" class="nav-item <%= route === '/' ? 'active' : '' %> ">HOME</a>
            </li>
            <li class="nav-list sub-menu">
                <a href="" class="nav-item <%= route === '/projects' ? 'active' : '' %> " id="project_nav">PROJECT <i class="fas fa-angle-down"></i></span></a>
                <ul>
                    <li>
                        <a href="/projects?pType=web">WEB</a>
                    </li>
                    <li>
                        <a href="/projects?pType=android">ANDROID</a>
                    </li>
                    <li>
                        <a href="/projects?pType=windows">WINDOWS</a>
                    </li>
                </ul>
            </li>
            <li class="nav-list">
                <a href="/blog" class="nav-item <%= route === '/blog' ? 'active' : '' %> ">BLOG</a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-item">CONTACT</a>
            </li>
            <% if(isAuthenticated){ %>
                <li class="nav-list">
                    <a href="/add-project" class="nav-item <%= route === '/addProject' ? 'active' : '' %> ">ADD PROJECT</a style="margin-left: auto;">
                </li>
                <li class="nav-list">
                    <a href="/add-blog" class="nav-item <%= route === '/add-blog' ? 'active' : '' %> ">ADD BLOG</a>
                </li>
            <% } %> 
            <div style="margin-left: auto; margin-right: 0; display: flex;">
                <% if(!isAuthenticated){ %>
                    <li class="nav-list">
                        <a href="/auth/sign-up" class="nav-item <%= route === '/sign-up' ? 'active' : '' %> ">SIGN UP<i class="far fa-user" style="margin-left: 0.7rem;"></i></a>
                    </li>
                    <li class="nav-list">
                        <a href="/auth/login" class="nav-item <%= route === '/login' ? 'active' : '' %> ">LOG IN<i class="far fa-user" style="margin-left: 0.7rem;"></i></a>
                    </li>
                <% } else { %>
                    <li class="nav-list">
                        <a href="/auth/logout" class="nav-item ">LOG OUT<i class="far fa-user" style="margin-left: 0.7rem;"></i></a>
                    </li>
                <% } %>
            </div>
        </ul>
    </nav>
</header>