<%- include("./partials/header") %> 
<link rel="stylesheet" href="/css/projectDetail.css">
<%- include("./partials/nav") %> 

<div class="projectDetail">
    <div class="textBox">
        <div class="icon">
            <img src="/images/<%=project.iconUrl%>" alt="">
        </div>
        <div class="text">
            <h2><%=project.projectTitle%> </h2>
            <h3><%=project.creator%> </h3>
        </div>
    </div>
</div>

<%- include("./partials/footer") %> 